.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section.contacts {
  background-color: var(--background-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.contacts-list {
  margin-bottom: 32px;

  --clearance: 24px;

  &__item {
    margin-bottom: 20px;
    padding: 40px 32px;

    background: #fcfcfc;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__facility {
    display: inline-flex;
    align-items: center;
    height: 16px;

    padding: 0 24px;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: var(--primary-text-color);

    background: #f8d24e;
    border-radius: 4px;
  }

  &__city {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: var(--title-color);
  }

  &__address {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    color: #d6936d;
  }
}

.timetable {
  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__days {
    color: var(--title-color);
  }
  &__work-time {
    color: #ababab;
  }
}

.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(18 / 12);

  color: #131313;

  &__anchor {
    color: inherit;
  }
}

.break-line::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  margin: var(--clearance) 0;
  background-color: #e1e1e1;
}
.button,
.backdrop {
  display: none;
}
.contacts-modal-window__map {
  width: 100%;
  height: 260px;
}
