.gallery {
    background-size: cover;
width: 1200px;
height: 1015px;
    background-image: url(../images/gallery/background/desktop/ice-cream-desktop.png);
}

.gallery__img-ice-cream {
    margin-right: auto;
    margin-left: auto;
    width: 1012px;
    height: 422px;
}

.gallery__img {
    object-fit: cover;
    // background: url(brooke-lark-8beTH4VkhLI-unsplash.jpg);
    border-radius: 24px;
    margin-top: -90px;
z-index: 10000;
}