.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 12px;
    background-color: #84A178;
  border-bottom: none;
}

.navigation{
    @media screen and (max-width:1199px){
        display: none;
    }
}

.header-logo{
    display: flex;
    align-items: flex-end;
    
}

.header-button__buy{
    @media screen and(max-width:1199px){
       display: none; 
    }
}

.mob-menu{
@media screen and(max-width:1199px) {
        display: none;
    }
}
.header-modal{
    display: none;
}


        
      
