.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    background-color: #84A178;

    @media screen and (max-width:479px) {
        width: 100%;
    }
    
}

.navigation {
    
    @media screen and (max-width:1199px) {
        display: none;
    }
   
}

.navigation-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-list__item:not(:last-child){
    margin-right: 21px;
}

.navigation-list__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover , &:focus{
            color:#F8D24E;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
}

.header-logo {
    display: flex;
    align-items: flex-end;

}

.header-button__buy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #F8D24E;
    border-radius: 10px;
    padding: 12px 34px;
    margin-left: 31px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover , &:focus{
        background-color: #0A8817;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and(max-width:767px) {
        display: none;
    }
}

.header-btn-icon{
    margin-left: 15px;
}

.header-button__burger {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    @include desk {
        display: none;
    }
}

.mob-menu {
    position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 20px;
        padding-left: 31px;
        padding-right: 20px;
        padding-bottom: 63px;
        overflow: auto;
        background-color: #85A279;
        text-align: center;
        .container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    
}


.menu-close{
   display: block;
    background-color: transparent;
    border: none;
}


.header-modal {
    display: none;
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.mob-menu__list{
    margin-top: 100px;
}

.mob-menu__item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    color: #FCFCFC;
}

.menu-button{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menu-close{
    position: absolute;
    top: 20px;
    right: 20px;
}