.text-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.hero {
    position: relative;

    height: 502px;
    margin: 0 auto;
    background-color: #84A178;
    background-image: url(../images/hero/hero-mob/blur-mob.png),
     url(../images/hero/hero-mob/points-mob.png);
    background-repeat: no-repeat;
    background-position: 55% 100%, 50% 100%;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url(../images/hero/hero-mob/blur-mob@2x.png),
            url(../images/hero/hero-mob/points-mob@2x.png);
        background-size: 280px, 329px;
    }
}

.hero {
    max-width: 480px;
}
    
.hero__title {
    padding-top: 110px;
    margin-bottom: 32px;

    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

.hero__ice-cream-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
    .hero__text-wrapper, .hero__text {
        display: none;
    }
}

.hero__products-link {
    display: inline-block;
    padding: 7px 14px;
    margin-right: 16px;
    border: solid 2px #F8D24E;
    border-radius: 8px;

    font-size: 8px;
    line-height: 1.13;
    color: #000000;
}

.hero__recipe {
    font-size: 8px;
    line-height: 1.25;
    font-weight: 600;
    color: #F8D24E;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .hero__serving-img {
        display: none;
    }
}

