// временные стили
.container {
    margin: 0 auto;
    max-width: 310px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
// 

.hero {
    margin: 0 auto;
    background-color: #84A178;
}

.hero {
    max-width: 480px;
}
    
.hero__title {
    padding-top: 110px;
}

.ice-cream-img {
    position: absolute;
    bottom: 0;
    right: 48px;
    left: 62px;
}
