.products {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 65px;
    background-image: url(../images/products/Frame-mob.jpg);
    background-size: contain;
}
.products__label {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.products__title {
    margin-bottom: 140px;
    font-family: var(--seconadary-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.products__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
.products__item {
    position: relative;
}
.products__suptitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.products__thumb {
    padding-top: 125px;
    padding-bottom: 20px;
    width: 280px;
    border-radius: 24px;
    transition: box-shadow var(--transition-duration-and-funk);  
    
    &:hover {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.ice-cream {
    background: #AEC6A5;
    transition: background-color var(--transition-duration-and-funk);

    &:hover {
        background: #a2b99a;
    }
}
.circle-ice-cream {
    position: absolute;
    top: -110px;
    left: 40px;
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    &::before {
        content: '';
        position: absolute;
        top:-12px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/kelsey-mob.jpg);
    }
}
.ice-coffe {
    background-color: #EFD478;
    transition: background-color var(--transition-duration-and-funk);

    &:hover {
        background: #e2c771;
    }
}
.circle-ice-coffe {
    position: absolute;
    top: -110px;
    left: 40px;
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    &::before {
        content: '';
        position: absolute;
        top:-12px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/pariwat-mob.jpg);
    }
} 
.milkshakes {
    background-color: #D6936D;
    transition: background-color var(--transition-duration-and-funk);

    &:hover {
        background: #c88a66;
    }
}
.circle-milkshakes {
    position: absolute;
    top: -110px;
    left: 40px;
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

    &::before {
        content: '';
        position: absolute;
        top:-12px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/victor-rutka-mob.jpg);
    }
}
.products__desc {   
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 90px;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em; 
}
.products__button {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 15px;
    background-image: url(../images/Arrow_black_icon.svg);
    border: none;
}
.products__button-ice-cream {
    background-color: #AEC6A5;
   }
.products__button-ice-coffe {
    background-color: #EFD478;
}
.products__button-milkshakes {
    background-color: #D6936D;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .products {
            background-image: url(../images/products/Frame-mob@2x.jpg); 
        } 
        .circle-ice-cream::before {
            background-image: url(../images/products/kelsey-mob@2x.jpg); 
        } 
        .circle-ice-coffe::before {
            background-image: url(../images/products/pariwat-mob@2x.jpg); 
        }  
        .circle-milkshakes::before {
            background-image: url(../images/products/victor-rutka-mob@2x.jpg); 
        }
}
@media screen and (min-width: 768px) {
    .products {
        width: 100%;
        background-image: url(../images/products/Frame-tablet.jpg); 
    } 
    .products__menu {
        flex-direction: row;           
        gap: 16px;
    }
    .products__thumb {
        padding-top: 107px;
        // padding-bottom: 20px;
        width: 224px;
        border-radius: 24px;
        transition: box-shadow var(--transition-duration-and-funk);  
        
        &:hover {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
    .circle-ice-cream {
        left: 14px;
    }
    .circle-ice-cream::before {
        background-image: url(../images/products/kelsey-tablet.jpg); 
    }
    .circle-ice-coffe {
        left: 14px;
    }
    .circle-ice-coffe::before {
        background-image: url(../images/products/pariwat-tablet.jpg); 
    } 
    .circle-milkshakes {
        left: 14px;
    } 
    .circle-milkshakes::before {
        background-image: url(../images/products/victor-rutka-tablet.jpg); 
    }
    .products__desc {   
        margin-left: 26px;
        margin-right: 26px;
        margin-bottom: 60px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .products {
            background-image: url(../images/products/Frame-tablet@2x.jpg); 
        }
        .circle-ice-cream::before {
            background-image: url(../images/products/kelsey-tablet@2x.jpg); 
        }
        .circle-ice-coffe::before {
            background-image: url(../images/products/pariwat-tablet@2x.jpg); 
        }  
        .circle-milkshakes::before {
            background-image: url(../images/products/victor-rutka-tablet@2x.jpg); 
        }
}
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//     screen and (min-resolution: 192dpi) and (min-width: 1200px),
//     screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//         .products {
//             background-image: url(../images/products/Frame-tablet@2x.jpg); 
//         }
//         .circle-ice-cream::before {
//             background-image: url(../images/products/kelsey-mob@2x.jpg); 
//         } 
//     }


