<header class="header">
<div class="header-container container">
        <a class="header-logo link" href="./index.html">
            <img src="./images/logo.png" alt="ice-cream"><span class="header-logo__text">ce</span></a>
<div class="navigation">
    <ul class="navigation-list list">
        <li class="navigation-list__item">
                 <a href="" class="navigation-list__link link">Home</a>                
            </li>
        <li class="navigation-list__item">
                <a href="" class="navigation-list__link link">About us</a>
            </li>
        <li class="navigation-list__item">
                <a href="" class="navigation-list__link link">How it’s made?</a>
            </li>
        <li class="navigation-list__item">
                <a href="" class="navigation-list__link link">Our products</a>
            </li>
        <li class="navigation-list__item">
                <a href="" class="navigation-list__link link">Contact</a>
            </li>
    </ul>
</div>
        <button class="header-button__buy" type="button">Buy now</button>
        <button class="header-button__burger" type="button">
            <svg class="menu-open__icon" width="20" height="12"><use href="./images/icons.svg#icon-Burger"></use></svg>
        </button>
</div>
<div class="mob-menu">
<div class="mob-menu__container">
            <a class="header-logo link" href="./index.html">
                <img src="./images/logo.png" alt="ice-cream"><span class="header-logo__text">ce</span>
            </a>
            <button class="menu-close" type="button">
                <svg width="20" height="20"><use href="./images/icons.svg#icon-Close_icon"></use></svg>
            </button>
    <ul class="mob-menu__list list">
        <li class="mob-menu__list__item">
                <a href="" class="mob-menu__link link">Home</a>
            </li>
        <li class="mob-menu__item">
                <a href="" class="mob-menu__link link">About us</a>
            </li>
        <li class="mob-menu__item">
                <a href="" class="mob-menu__link link">How it’s made?</a>
            </li>
        <li class="mob-menu__item">
                <a href="" class="mob-menu__link link">Our products</a>
            </li>
        <li class="mob-menu__item">
                <a href="" class="mob-menu__link link">Contact</a>
            </li>
    </ul>
</div>
    </div>
</header>

<div class="header-modal">
    <div class="header-modal__container">
<h2 class="header-modal__title"></h2>
<ul class="header-modal-menu__list">
    <li class="header-modal-menu__item">

    </li>
    <li class="header-modal-menu__item">

    </li>
    <li class="header-modal-menu__item">
        .
    </li>
</ul>
</div>
</div>