<section class="hero">
    <div class="container hero__container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <a href="#" class="products-link">Products</a>
        <a href="#" class="recipe">How it's made?</a>
        <div class="hero__text-wrapper">
            <p class="hero__numb-of-us">
                16 <br />
                cafes
            </p>
            <p class="hero__numb-of-us">
                23 <br />
                food trucks
            </p>
        </div>
        <p class="hero__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, soluta!
        </p>
        <button class="text-btn">
            <use>
                <svg href="#" class="arrow-icon" width="40" height="15"></svg>
            </use>
        </button>

        <img src=".././src/images/hero/hero-mob/ice-cream-mob.png" alt="Ice cream" class="ice-cream-img" width="170">
    </div>
</section>