<section class="section products">
    <p class="proucts__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__menu">
        <li class="products__item">
            <div class="products__thumb">
                <h3 class="Products__suptitle">ice cream</h3>
                <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button class="products__button"></button>                    
            </div>
        </li>
        <li class="products__item">
            <div class="products__thumb">
                <h3 class="Products__suptitle">ice coffee</h3>
                <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <button class="products__button"></button>                    
            </div>
        </li>
        <li class="products__item">
            <div class="products__thumb">
                <h3 class="Products__suptitle">milkshakes</h3>
                <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <button class="products__button"></button>                    
            </div>
        </li>
    </ul>
</section>